<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">

      <!--SIDEBAR-->
      <div class="sidebar nobottommargin">
        <div class="sidebar-widgets-wrap">
          <div class="widget widget-filter-links clearfix">
            <h4>Select Category</h4>
            <ul class="custom-filter" data-container="#shop" data-active-class="active-filter">
              <li class="widget-filter-reset active-filter"><a href="#" data-filter="*">Clear</a></li>
              <li><a href="#" data-filter=".sf-dress">Dress</a></li>
              <li><a href="#" data-filter=".sf-tshirt">Tshirts</a></li>
              <li><a href="#" data-filter=".sf-pant">Pants</a></li>
              <li><a href="#" data-filter=".sf-sunglass">Sunglasses</a></li>
              <li><a href="#" data-filter=".sf-shoes">Shoes</a></li>
              <li><a href="#" data-filter=".sf-watch">Watches</a></li>
            </ul>
          </div>
          <div class="widget widget-filter-links clearfix">
            <h4>Sort By</h4>
            <ul class="shop-sorting">
              <li class="widget-filter-reset active-filter"><a href="#" data-sort-by="original-order">Clear</a></li>
              <li><a href="#" data-sort-by="name">Name</a></li>
              <li><a href="#" data-sort-by="price_lh">Price: Low to High</a></li>
              <li><a href="#" data-sort-by="price_hl">Price: High to Low</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--SIDEBAR-->

      <!--SHOP-->
      <div class="postcontent nobottommargin col_last">
        <div id="shop" class="shop product-3 grid-container clearfix">
          <div class="product sf-pant clearfix" *ngFor="let book of books">
            <div class="product-image">
              <a href="#"><img src="{{book.coverImage}}" alt="{{book.name}}"></a>
              <div class="product-overlay">
                <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                <a href="../../../assets/include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i
                  class="icon-zoom-in2"></i><span> Quick View</span></a>
              </div>
            </div>
            <div class="product-desc center">
              <div class="product-title"><h3><a href="#">{{book.name}}</a></h3></div>
              <div class="product-price">{{book.authorId}}</div>
              <div class="product-rating">
                <i class="icon-star3" *ngFor="let number of [1,2,3,4,5]" [ngClass]="{
                  'icon-star3': number<=book.rating,
                  'icon-star-half-full': number>book.rating && book.rating+1 >number,
                  'icon-star-empty':number>book.rating
                }"></i>
                <!--<i class="icon-star3"></i>-->
                <!--<i class="icon-star3"></i>-->
                <!--<i class="icon-star-half-full"></i>-->
                <!--<i class="icon-star-empty"></i>-->
              </div>
            </div>
          </div>
        </div>

        <ul class="pagination float-right" *ngIf="count>0">
          <span>{{ getMin() }} of {{ getMax() }} of {{ count }}</span>
          <span>{{ totalPages() }} pages</span>
          <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>

          <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
        </ul>
      </div>
      <!--SHOP-->

    </div>
  </div>
</section>
