    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <div class="nav-link">
            <div class="user-wrapper">
              <div class="profile-image">
                <img src="/assets/dashboard/images/faces/face1.jpg" alt="profile image">
              </div>
              <div class="text-wrapper">
                <p class="profile-name">{{ profile.fullName }}</p>
                <div>
                  <small class="designation text-muted">Manager</small>
                  <span class="status-indicator online"></span>
                </div>
              </div>
            </div>
            <button class="btn btn-success btn-block">New Project
              <i class="mdi mdi-plus"></i>
            </button>
          </div>
        </li>
        <li class="nav-item cursor-pointer" [routerLink]="['/admin/users']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link">
            <i class="menu-icon mdi mdi-account"></i>
            <span class="menu-title">User Management</span>
          </a>
        </li>
        <li class="nav-item cursor-pointer" [routerLink]="['/admin/book']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link">
              <i class="menu-icon mdi mdi-book-variant"></i>
              <span class="menu-title">Book Management</span>
            </a>
          </li>
          <li class="nav-item cursor-pointer" [routerLink]="['/admin/tickets']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link">
              <i class="menu-icon mdi mdi-folder"></i>
              <span class="menu-title">Ticket Management</span>
            </a>
          </li>
      </ul>
    </nav>
    <!-- partial -->
