/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.error-messages {
    color: #B85C5C !important;
    font-weight: bold; 
}
  
.card {
    max-width: 100%;
}
.card-text {
    word-wrap: break-word;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}