
<div class="">
  <!-- <form [formGroup]="infoForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
        <div class="col_half">
            <label for="fullName">Name</label>
            <input class="form-control"
            type="text"
            placeholder="Full Name"
            name="fullName"
            formControlName="fullName" 
            />
          </div>
      
          <div class="col_half col_last">
            <label for="email">Email Address</label>
            <input class="form-control"
              type="text"
              placeholder="Email"
              name="email"
              formControlName="email" 
              [attr.disabled]="true"
            />
          </div>
      
          <div class="clear"></div>
      
          <div class="col_half">
            <label for="address">Address</label>
            <input class="form-control"
            type="text"
            placeholder="Address"
            name="address"
            formControlName="address" 
            />
          </div>
      
          <div class="col_half col_last">
            <label for="phone">Phone</label>
            <input class="form-control"
            type="text"
            placeholder="Phone"
            name="phone"
            formControlName="phone" 
            />
          </div>
      
          <div class="clear"></div>
      
          <div class="col_half">
            <label for="gender">Gender</label>
            <select class="form-control" 
                formControlName="gender"
                name="gender"
                placeholder="Gender"
                class="form-control">
                <option value="Male" selected>Male</option>
                <option value="Female">Female</option>
              </select>
          </div>
      
          <div class="col_half col_last">
            <label for="identityCard">Identidy Card</label>
            <input class="form-control"
            type="text"
            placeholder="Identity Card"
            name="identityCard"
            formControlName="identityCard" 
            />
          </div>
      
          <div class="clear"></div>
      
          <div class="col_full nobottommargin">
            <button class="button button-3d button-black nomargin" 
            [disabled]="!infoForm.valid"
            type="submit">Update</button>
          </div>
    </fieldset>
  </form> -->
  <app-form-user *ngIf="hasInfo" [user]="profile" (userEmitter)="userEmit($event)"></app-form-user>
  <app-form-user *ngIf="!hasInfo" [user]="{}" (userEmitter)="userEmit($event)"></app-form-user>
</div>