<section id="content">
  <div class="container clearfix">
    <button (click)="newContribute()" class="button button-mini button-primary button-rounded">{{ buttonLabel }}</button>
    <div class="table-responsive" *ngIf="!isAdding">
      <table class="table cart">
        <thead>
          <tr>
            <th class="cart-product-thumbnail">&nbsp;</th>
            <th class="cart-product-name">Product</th>
            <th class="cart-product-price">Author</th>
            <th class="cart-product-quantity">Quantity</th>
            <th class="cart-product-subtotal">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="cart_item" *ngFor="let book of bookContributes">
            <td class="cart-product-thumbnail">
                <a [routerLink]="['/book',book.bookByBookId.id ]">
                <img width="64" height="64" src="{{ book.bookByBookId.coverImage }}" alt="book.bookByBookId.name">
              </a>
            </td>

            <td class="cart-product-name">
              <a [routerLink]="['/book',book.bookByBookId.id ]">{{ book.bookByBookId.name }}</a>
            </td>

            <td class="cart-product-name">
                <a [routerLink]="['/author',book.bookByBookId.authorByAuthorId.id ]">{{ book.bookByBookId.authorByAuthorId.name }}</a>
            </td>

            <td class="cart-product-quantity">
              <span class="amount">{{ book.amount }}</span>
            </td>

            <td class="cart-product-subtotal">
              <span class="amount">$39.98</span>
            </td>
          </tr>

        </tbody>

      </table>
    </div>
    <ng-container *ngIf="isAdding">
      <app-form-book></app-form-book>
    </ng-container>

  </div>
</section>
<!-- #content end -->