<section id="content">
  <div class="container clearfix">
    <button (click)="goBack()" class="button button-mini button-dark button-rounded">Back to Ticket List</button>
    <h2>Ticket Detail</h2>
    <p>Ticket ID: #{{ ticketId }}</p>
    <div class="table-responsive">
      <table class="table cart">
        <thead>
          <tr>
            <th class="cart-product-thumbnail">&nbsp;</th>
            <th class="cart-product-name">Product</th>
            <th class="cart-product-price">Author</th>
            <th class="cart-product-quantity">Quantity</th>
            <th class="cart-product-subtotal">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="cart_item" *ngFor="let ticketDetail of ticketDetails">
            <td class="cart-product-thumbnail">
                <a [routerLink]="['/book',ticketDetail.bookByBookId.id ]">
                <img width="64" height="64" src="{{ ticketDetail.bookByBookId.coverImage }}" alt="ticketDetail.bookByBookId.name">
              </a>
            </td>

            <td class="cart-product-name">
              <a [routerLink]="['/book',ticketDetail.bookByBookId.id ]">{{ ticketDetail.bookByBookId.name }}</a>
            </td>

            <td class="cart-product-name">
                <a [routerLink]="['/author',ticketDetail.bookByBookId.authorByAuthorId.id ]">{{ ticketDetail.bookByBookId.authorByAuthorId.name }}</a>
            </td>

            <td class="cart-product-quantity">
              <span class="amount">{{ ticketDetail.amount }}</span>
            </td>

            <td class="cart-product-subtotal">
              <span class="amount">$39.98</span>
            </td>
          </tr>

        </tbody>

      </table>
    </div>

  </div>
</section>
<!-- #content end -->