<section id="content">
    <div class="container clearfix">
        <button (click)="goBack()" class="button button-mini button-dark button-rounded">Back to Ticket List</button>
        <h2>Ticket Detail</h2>
        <p>Ticket ID: #123</p>
        <div class="table-responsive">
          <table class="table cart">
            <thead>
              <tr>
                <th class="cart-product-thumbnail">&nbsp;</th>
                <th class="cart-product-name">Product</th>
                <th class="cart-product-price">Unit Price</th>
                <th class="cart-product-quantity">Quantity</th>
                <th class="cart-product-subtotal">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr class="cart_item">
                <td class="cart-product-thumbnail">
                  <a href="#"><img width="64" height="64" src="assets/themes/images/shop/thumbs/small/dress-3.jpg" alt="Pink Printed Dress"></a>
                </td>
  
                <td class="cart-product-name">
                  <a href="#">Pink Printed Dress</a>
                </td>
  
                <td class="cart-product-price">
                  <span class="amount">$19.99</span>
                </td>
  
                <td class="cart-product-quantity">
                  <div class="quantity clearfix">
                    <input type="button" value="-" class="minus">
                    <input type="text" name="quantity" value="2" class="qty" />
                    <input type="button" value="+" class="plus">
                  </div>
                </td>
  
                <td class="cart-product-subtotal">
                  <span class="amount">$39.98</span>
                </td>
              </tr>
              <tr class="cart_item">
               
                <td class="cart-product-thumbnail">
                  <a href="#"><img width="64" height="64" src="assets/themes/images/shop/thumbs/small/shoes-2.jpg" alt="Checked Canvas Shoes"></a>
                </td>
  
                <td class="cart-product-name">
                  <a href="#">Checked Canvas Shoes</a>
                </td>
  
                <td class="cart-product-price">
                  <span class="amount">$24.99</span>
                </td>
  
                <td class="cart-product-quantity">
                  <div class="quantity clearfix">
                    <input type="button" value="-" class="minus">
                    <input type="text" name="quantity" value="1" class="qty" />
                    <input type="button" value="+" class="plus">
                  </div>
                </td>
  
                <td class="cart-product-subtotal">
                  <span class="amount">$24.99</span>
                </td>
              </tr>
              <tr class="cart_item">
              
                <td class="cart-product-thumbnail">
                  <a href="#"><img width="64" height="64" src="assets/themes/images/shop/thumbs/small/tshirt-2.jpg" alt="Pink Printed Dress"></a>
                </td>
  
                <td class="cart-product-name">
                  <a href="#">Blue Men Tshirt</a>
                </td>
  
                <td class="cart-product-price">
                  <span class="amount">$13.99</span>
                </td>
  
                <td class="cart-product-quantity">
                  <div class="quantity clearfix">
                    <input type="button" value="-" class="minus">
                    <input type="text" name="quantity" value="3" class="qty" />
                    <input type="button" value="+" class="plus">
                  </div>
                </td>
  
                <td class="cart-product-subtotal">
                  <span class="amount">$41.97</span>
                </td>
              </tr>
            </tbody>
  
          </table>
        </div>
  
      </div>
  </section><!-- #content end -->
  