<!-- BOOK NAME -->
<section id="page-title">
  <div class="container clearfix">
    <h1 *ngIf="book">{{book.name}}</h1>
  </div>
</section><!-- #page-title end -->
<!-- BOOK NAME -->

<!-- Content
		============================================= -->
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="single-product">
        <div class="product">
          <div class="col_two_fifth">
            <!-- Product Single - Gallery
								============================================= -->
            <div class="product-image">
              <img src="{{book.coverImage}}" alt="">
            </div>
          </div>

          <div class="col_two_fifth product-desc">

            <div class="product-price">Author: {{book.authorByAuthorId.name}}</div>
            <!-- Product Single - Price End -->

            <div class="product-rating">
              <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&#x022C6;</span>&#x022C6;
                  </span>
              </ng-template>

              <ngb-rating [(rate)]="book.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
            </div>

            <div class="clear"></div>
            <div class="line"></div>

            <form class="cart nobottommargin clearfix" method="post" enctype='multipart/form-data'>
              <div class="quantity clearfix">
                <input type="button" value="-" class="minus" (click)="minus()">
                <input type="text" step="1" min="1" name="quantity" [value]="amount" title="Qty" class="qty" size="4"/>
                <input type="button" value="+" class="plus" (click)="plus()">
              </div>
              <button type="submit" class="add-to-cart button nomargin" (click)="addToCart(book,this.amount)">Add to
                cart
              </button>


            </form>
            <button class="btn btn-sm"
                    [ngClass]="{'btn-outline-danger': true,'btn-danger': false }"
                    (click)="toggleFavorite()">
              <i class="fa fa-heart-o"></i>
            </button>

            <div class="clear"></div>
            <div class="line"></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero velit id eaque ex quae laboriosam nulla
              optio
              doloribus! Perspiciatis, libero, neque, perferendis at nisi optio dolor!</p>
            <p>Perspiciatis ad eveniet ea quasi debitis quos laborum eum reprehenderit eaque explicabo assumenda rem
              modi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="single-product">
        <div class="product">
          <div class="col_two_fifth">
            <div class="product-image">
              <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                <div class="flexslider">
                  <div class="slider-wrap" data-lightbox="gallery">
                    <div class="slide" data-thumb="images/shop/thumbs/dress/3.jpg"><a href="images/shop/dress/3.jpg" title="Pink Printed Dress - Front View"
                        data-lightbox="gallery-item"><img src="images/shop/dress/3.jpg" alt="Pink Printed Dress"></a></div>
                    <div class="slide" data-thumb="images/shop/thumbs/dress/3-1.jpg"><a href="images/shop/dress/3-1.jpg"
                        title="Pink Printed Dress - Side View" data-lightbox="gallery-item"><img src="images/shop/dress/3-1.jpg"
                          alt="Pink Printed Dress"></a></div>
                    <div class="slide" data-thumb="images/shop/thumbs/dress/3-2.jpg"><a href="images/shop/dress/3-2.jpg"
                        title="Pink Printed Dress - Back View" data-lightbox="gallery-item"><img src="images/shop/dress/3-2.jpg"
                          alt="Pink Printed Dress"></a></div>
                  </div>
                </div>
              </div>
              <div class="sale-flash">Sale!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
