<!-- BOOK NAME -->
<section id="page-title">
  <div class="container clearfix">
    <h1 *ngIf="book">{{book.name}}</h1>
  </div>
</section><!-- #page-title end -->
<!-- BOOK NAME -->

<!-- Content
		============================================= -->
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="single-product">
        <div class="product">
          <div class="col_two_fifth">
            <!-- Product Single - Gallery
								============================================= -->
            <div class="product-image">
              <img src="{{book.coverImage}}" alt="">
            </div>
          </div>

          <div class="col_two_fifth product-desc">

            <div class="product-price">Author: {{book.authorByAuthorId.name}}</div>
            <!-- Product Single - Price End -->

            <div class="product-rating">
              <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&#x022C6;</span>&#x022C6;
                  </span>
              </ng-template>

              <ngb-rating [(rate)]="book.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
            </div>

            <div class="clear"></div>
            <div class="line"></div>

            <div class="cart nobottommargin clearfix" method="post" enctype='multipart/form-data'>
              <div class="quantity clearfix">
                <input type="button" value="-" class="minus" (click)="minus()">
                <input type="text" step="1" min="1" name="quantity" [value]="amount" title="Qty" class="qty" size="4"/>
                <input type="button" value="+" class="plus" (click)="plus()">
              </div>
              <button class="add-to-cart button nomargin" (click)="addToCart(book,this.amount)">Add to
                cart
              </button>
            </div>

            <button class="btn btn-sm"
                    [ngClass]="{'btn-outline-danger': true,'btn-danger': false }"
                    (click)="toggleFavorite()">
              <i class="fa fa-heart-o"></i>
            </button>

            <div class="clear"></div>
            <div class="line"></div>

            <p>{{book.description}}</p>

          </div>
          <hr>
          <div class="col_full nobottommargin">
            <div id="reviews" class="clearfix">
              <div class="comment-div">
                <ol class="commentlist clearfix">
                  <li class="comment even thread-even depth-1" id="li-comment-1">
                    <div id="comment-1" class="comment-wrap clearfix" *ngFor="let react of book.reactionsById">
                      <div class="comment-meta">
                        <div class="comment-author vcard">
																	<span class="comment-avatar clearfix">
																	<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60'
                                       height='60' width='60'/></span>
                        </div>
                      </div>
                      <div class="comment-content clearfix">
                        <div class="comment-author">John Doe<span><a title="Permalink to this comment">{{react.dateUpdated|date}}</a></span>
                        </div>
                        <p>{{react.comment}}</p>
                        <ng-template #t let-fill="fill">
                          <span class="star" [class.full]="fill === 100"><span class="half" [style.width.%]="fill">&#x022C6;</span>&#x022C6;</span>
                        </ng-template>
                        <ngb-rating [(rate)]="react.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </li>
                </ol>
              </div>


              <a class="button button-3d nomargin fright" (click)="open(content)">{{buttonText}}</a>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="reviewFormModalLabel">Submit a Review</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="nobottommargin" id="template-reviewform" name="template-reviewform" method="post">
                    <!--<div class="col_half">-->
                    <!--<label for="template-reviewform-name">Name <small>*</small></label>-->
                    <!--<div class="input-group">-->
                    <!--<div class="input-group-prepend">-->
                    <!--<div class="input-group-text"><i class="icon-user"></i></div>-->
                    <!--</div>-->
                    <!--<input type="text" id="template-reviewform-name" name="template-reviewform-name" value="" class="form-control required" />-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col_half col_last">-->
                    <!--<label for="template-reviewform-email">Email <small>*</small></label>-->
                    <!--<div class="input-group">-->
                    <!--<div class="input-group-prepend"><div class="input-group-text">@</div></div>-->
                    <!--<input type="email" id="template-reviewform-email" name="template-reviewform-email" value="" class="required email form-control" />-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="clear"></div>

                    <div class="col_full col_last">
                      <label for="template-reviewform-rating">Rating </label>
                      <!--<select  name="template-reviewform-rating" class="form-control">-->
                      <!--<option value="">&#45;&#45; Select One &#45;&#45;</option>-->
                      <!--<option value="1">1</option>-->
                      <!--<option value="2">2</option>-->
                      <!--<option value="3">3</option>-->
                      <!--<option value="4">4</option>-->
                      <!--<option value="5">5</option>-->
                      <!--</select>-->
                      <!--<ngb-rating id="template-reviewform-rating" [(rate)]="currentRate"></ngb-rating>-->
                      <ngb-rating id="template-reviewform-rating" [(rate)]="currentRate" [readonly]="false"
                                  max="5"></ngb-rating>
                    </div>

                    <div class="clear"></div>

                    <div class="col_full">
                      <label for="template-reviewform-comment">Comment
                        <small>*</small>
                      </label>
                      <textarea class="required form-control" id="template-reviewform-comment"
                                name="template-reviewform-comment" rows="6" cols="30" [(ngModel)]="comment"></textarea>
                    </div>

                    <div class="col_full nobottommargin">
                      <button class="button button-3d nomargin" id="template-reviewform-submit"
                              name="template-reviewform-submit" value="submit" (click)="submitReact()">Submit Review
                      </button>
                    </div>

                  </form>
                </div>
              </ng-template>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="single-product">
        <div class="product">
          <div class="col_two_fifth">
            <div class="product-image">
              <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                <div class="flexslider">
                  <div class="slider-wrap" data-lightbox="gallery">
                    <div class="slide" data-thumb="images/shop/thumbs/dress/3.jpg"><a href="images/shop/dress/3.jpg" title="Pink Printed Dress - Front View"
                        data-lightbox="gallery-item"><img src="images/shop/dress/3.jpg" alt="Pink Printed Dress"></a></div>
                    <div class="slide" data-thumb="images/shop/thumbs/dress/3-1.jpg"><a href="images/shop/dress/3-1.jpg"
                        title="Pink Printed Dress - Side View" data-lightbox="gallery-item"><img src="images/shop/dress/3-1.jpg"
                          alt="Pink Printed Dress"></a></div>
                    <div class="slide" data-thumb="images/shop/thumbs/dress/3-2.jpg"><a href="images/shop/dress/3-2.jpg"
                        title="Pink Printed Dress - Back View" data-lightbox="gallery-item"><img src="images/shop/dress/3-2.jpg"
                          alt="Pink Printed Dress"></a></div>
                  </div>
                </div>
              </div>
              <div class="sale-flash">Sale!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
