<div>
  <h4>Search book</h4>
  <app-search-book></app-search-book>
  <br>
  <br>
  <div class="sidebar nobottommargin clearfix">
    <div class="sidebar-widgets-wrap">
      <div class="widget widget_links clearfix" >
        <h4>Type of Book</h4>
        <ul>
          <app-filter-book></app-filter-book>
        </ul>
      </div>
      <div class="widget widget_links clearfix">
        <h4>Pages</h4>
        <ul>
          <li><a href="#"><div>About Us</div></a></li>
          <li><a href="#"><div>About Us - Layout 2</div></a></li>
          <li><a href="#"><div>About Me</div></a></li>
          <li><a href="#"><div>Team Members</div></a></li>
          <li><a href="#"><div>Careers</div></a></li>
        </ul>
      </div>      
    </div>
  </div>
</div>
