


   
            <h4 class="card-title">Book in Garage</h4>
            <p class="card-description">
              Manage
              <code style="font-size: large">book</code>
            </p>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="button" class="pull-right btn btn-info btn-fw" (click)="isAdd=true">
                  <i class="mdi mdi-book-plus"></i>Add book
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <app-add (clickButton)="isAdd=false" *ngIf="isAdd"></app-add>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Cover Image</th>
                  <th>Book name</th>
                  <th>Author</th>
                  <th>Amount</th>
                  <th>Rating</th>
                  <th>Date Published</th>
                  <th>Date Added</th>
                  <th></th>
                </tr>
                </thead>
                <tbody *ngIf="pageBook">
                <tr *ngFor="let book of pageBook.content" style="cursor: pointer">
                  <td routerLink="/admin/book/{{book.id}}"><img [src]="book.coverImage" class="img-responsive" alt="Image"></td>
                  <td routerLink="/admin/book/{{book.id}}">{{book.name}}</td>
                  <td routerLink="/admin/book/{{book.id}}">{{book.authorByAuthorId.name}}</td>
                  <td routerLink="/admin/book/{{book.id}}">{{book.amount}}</td>
                  <td routerLink="/admin/book/{{book.id}}">{{book.rating}}</td>
                  <td routerLink="/admin/book/{{book.id}}">{{book.datePublished | date:'longDate'}}</td>
                  <td routerLink="/admin/book/{{book.id}}">{{book.dateAdded | date:'longDate'}}</td>
                  <td>
                    <button type="button" class="btn btn-icons btn-rounded btn-danger" (click)="preDelete(content)">
                      <i class="mdi mdi-delete"></i>
                    </button>
                    <ng-template #content let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>This will DELETE every data related and CAN NOT revert. Are you sure?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="delete(book)">Delete</button>
                        <button type="button" class="btn btn-default" (click)="modalRef.close('cancel click')">Cancel</button>
                      </div>
                    </ng-template>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <app-pagination></app-pagination>
