<button class="btn btn-primary btn-sm" routerLink="/admin/users">Back to user list</button>

<div class="tabs side-tabs nobottommargin clearfix" id="tab-6">
  <nav class="sidebar float-right" style="min-height: initial">
    <ul class="nav">
      <li class="nav-item" [routerLink]="['tickets']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" style="cursor: pointer;">
          <i class="menu-icon mdi mdi-television"></i> Ticket Request
        </a>
      </li>
      <li class="nav-item" [routerLink]="['books']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" style="cursor: pointer;">
          <i class="menu-icon mdi mdi-television"></i> Sách đang mượn
        </a>
      </li>
      <li class="nav-item" [routerLink]="['reactions']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" style="cursor: pointer;">
          <i class="menu-icon mdi mdi-television"></i> Reaction
        </a>
      </li>
      <li class="nav-item" [routerLink]="['contributes']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" style="cursor: pointer;">
          <i class="menu-icon mdi mdi-television"></i> Contribute Request
        </a>
      </li>
      <li class="nav-item" [routerLink]="['notificatoins']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" style="cursor: pointer;">
          <i class="menu-icon mdi mdi-television"></i> Notifications
        </a>
      </li>
    </ul>
  </nav>

  <div class="tab-container">
    <router-outlet></router-outlet>
  </div>

</div>