<button class="btn btn-primary btn-sm" (click)="goBack()">Back to user list</button>

<div class="tabs side-tabs nobottommargin clearfix" id="tab-6">

  <ul class="tab-nav tab-nav2 clearfix">
    <li class="">
      <a href="#tabs-21">
        <i class="icon-home2 ac"></i> Ticket Request
      </a>
    </li>
    <li>
      <a href="#tabs-21">
        <i class="icon-home2 ac"></i> Sách đang mượn
      </a>
    </li>
    <li>
      <a href="#tabs-23">
          <i class="icon-home2 ac"></i> Reaction
      </a>
    </li>
    <li>
      <a href="#tabs-24">
          <i class="icon-home2 ac"></i> Contribute Request
      </a>
    </li>
    <li>
      <a href="#tabs-24">
          <i class="icon-home2 ac"></i> Notifications
      </a>
    </li>
  </ul>

  <div class="tab-container">


  </div>

</div>