<!-- <button class="btn btn-primary btn-sm" (click)="displayForm({})">{{ buttonLabel }}</button>
<div class="input-group float-right col-md-5 d-flex align-items-stretch input-group float-right">
  <input type="text" (keyup)="searching($event)" class="form-control" placeholder="Search" aria-label="Search">
  <div class="input-group-append bg-primary border-primary">
    <span class="input-group-text bg-transparent">
      <i class="fa fa-search text-white"></i>
    </span>
  </div>
</div> -->
<h4>TICKET LIST</h4>
<div class="table-responsive" *ngIf="!!tickets">
  <table class="table table-striped" style="width: 80%">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Email
        </th>
        <th>
          Date added
        </th>
        <th>
          Status
        </th>
        <th>
          Detail
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets; let i=index;">
        <td>
          {{ ticket.id }}
        </td>
        <td aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          {{ ticket.userByUserId.email }}
        </td>
        <td style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          {{ ticket.dateAdded }}
        </td>
        <td>
          {{ ticket.status }}
        </td>
        <td>
          <a [routerLink]="['/admin/tickets', ticket.id]">detail</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>