<form [formGroup]="bookForm" (ngSubmit)="submitForm()">
  <fieldset [disabled]="isSubmitting">
    <!-- <fieldset class="form-group">
      <app-avatar-upload [user]="user" (avatarEmit)="changeAvatar($event)"></app-avatar-upload>
    </fieldset> -->
    
    <div class="form-group row">
        <label for="username" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <input class="form-control"
              type="text"
              placeholder="Name"
              name="name"
              formControlName="name" 
              />
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
            <input
              formControlName="description"
              placeholder="Description"
              class="form-control "
              name="description"
              type="text"/>
            <!-- <small class="alert text-danger" *ngIf="!settingsForm.controls['fullName'].valid && settingsForm.controls['fullName'].touched">Độ dài: 5 <= Tên của bạn <= 25</small> -->
        </div>
    </div>
    <div class="form-group row">
        <label for="author" class="col-sm-3 col-form-label">Author</label>
        <div class="col-sm-9">
          <input
            formControlName="author"
            placeholder="Author"
            class="form-control "
            name="author"
            type="text"/>
          <!-- <small class="alert text-danger" *ngIf="!settingsForm.controls['fullName'].valid && settingsForm.controls['fullName'].touched">Độ dài: 5 <= Tên của bạn <= 25</small> -->
      </div>
    </div>
    <div class="form-group row">
        <label for="amount" class="col-sm-3 col-form-label">Amount</label>
        <div class="col-sm-9">
            <input class="form-control "
              type="number"
              name="amount"
              formControlName="amount" />
          <!-- <small class="alert text-danger" *ngIf="!settingsForm.controls['email'].valid && settingsForm.controls['email'].touched">Email không đúng định dạng</small> -->
        </div>
    </div>

    <!-- <button 
      [disabled]="!settingsForm.valid"
      class="btn btn-lg btn-primary pull-xs-right"
      type="submit">
      Cập nhật thông tin
    </button> -->
    <div class="offset-sm-3">
      <button 
    class="btn btn-primary"
    type="submit">
    Submit
  </button>
    </div>

  </fieldset>
</form>
