<button class="btn btn-primary btn-sm" (click)="displayForm({})">{{ buttonLabel }}</button>
<div class="table-responsive" *ngIf="!isEditor">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Email
        </th>
        <th>
          Full Name
        </th>
        <th>
          Address
        </th>
        <th>
          Phone
        </th>
        <th>
          Gender
        </th>
        <th>
          ID Card
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          {{ user.id }}
        </td>
        <td style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          {{ user.email }}
        </td>
        <td style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          {{ user.fullName }}
        </td>
        <td>
          {{ user.address }}
        </td>
        <td>
          {{ user.phone }}
        </td>
        <td>
          {{ user.gender }}
        </td>
        <td>
          {{ user.identityCard }}
        </td>
        <td>
          <button (click)="displayForm(user)" type="button" class="btn btn-sm btn-primary mr-1">
            <i class="fa fa-edit"></i> Edit
          </button>
          <button (click)="delete(user)" type="button" class="btn btn-sm btn-danger">
            <i class="fa fa-window-close-o"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-form-user *ngIf="isEditor" [user]="selectedUser" (userEmitter)="userEmit($event)"></app-form-user>