<div class="table-responsive" *ngIf="tickets.length > 0; else noTickets">
  <table class="table table table-bordered">
    <thead>
      <tr>
        <th>Ticket ID</th>
        <th>Book</th>
        <th>Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>
          <a [routerLink]="[ticket.id]">{{ ticket.id }}</a>
        </td>
        <td>
          <a [routerLink]="[ticket.id]">{{ profileService.getBookNames(ticket) }}</a>
        </td>
        <td>{{ ticket.dateAdded | date: 'longDate' }}</td>
        <td>
          <label class="badge badge-success" *ngIf="ticket.status == 1">Approved</label>
          <label class="badge badge-danger" *ngIf="ticket.status == 0">Pending</label>
        </td>
        <td>
          <button [routerLink]="[ticket.id]" type="button" class="btn btn-sm btn-default mr-1">
            <i class="fa fa-user-circle"></i> Detail
          </button>
        </td>
      </tr>

    </tbody>
  </table>
  <pagination *ngIf="totalPages > 0" [currentPage]="currentPage" [totalPages]="totalPages" (setPageEmit)="setPage($event)"></pagination>
</div>

<ng-template #noTickets>
  <p>No tickets</p>
</ng-template>